<li id="session-<%= session.id %>">
  <%= link_to gravatar_for(session.user, size: 50), session.user %>
  <span class="user"><%= link_to session.user.name, session.user %></span>
  <span class="content"><%= session.content %></span>
  <%= image_tag session.picture.url if session.picture? %>

  <span class="timestamp">
    Posted <%= time_ago_in_words(session.created_at) %> ago.
    <% if current_user?(session.user) %>
      <%= link_to "delete", session, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>
